/* CUSTOM NOTIFICATION STYLE */
.custom-notification {
  padding: 0 !important;
  background: white !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15) !important;
  width: 450px !important;
}

.custom-notification .ant-notification-notice-close {
  top: 12px !important;
  right: 12px !important;
  color: #888 !important;
  font-size: 14px !important;
}

.custom-notification .ant-notification-notice-message {
  display: none !important; /* hide AntD default message */
}

.custom-notification .ant-notification-notice-description {
  margin: 0 !important;
  padding: 16px 18px 16px 18px !important;
}
