@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.reservation-modal  .ant-modal-content{
  padding: 0 !important;
  border-radius: 18px !important;
}

/* handle (thumb) */
.ant-slider .ant-slider-handle::after {
  background-color: #D1252B !important;
  border-color: #D1252B !important;
}


